@use "./elements-override.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 32px;
}

ul {
  list-style-type: disc;
}

ul ul, ol ul {
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: disc;
}

li {
  margin-bottom: 12px;
}

code {
  background-color: rgb(164, 246, 224);
  color: #818181;
  padding: 3px 6px;
  border-radius: 6px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --devima-main-color: #{$devima-main-color};
  --devima-secondary-color: #{$devima-secondary-color};
  --devima-tertiary-color: #{$devima-tertiary-color};
}

.chart-marker {
  display: inline-block;
  margin-right: 5px;
  border-radius: 2px;
  width: 10px;
  height: 10px;
}

.chart-marker--temperature {
  background-color: $devima-main-color;
}

.chart-marker--heart-rate {
  background-color: $devima-tertiary-color;
}

.chart-marker--oxygen {
  background-color: $devima-secondary-color;
}

html.dark {
  //ep
  --el-bg-color: #202020;
  --el-border-color: #404040;
  --el-text-color-primary: #f5f5f5;
  --el-color-primary: var(--devima-secondary-color);
  --el-menu-bg-color: #202020;
  --el-menu-text-color: #d8d8d8;
  --el-menu-hover-bg-color: #2e2e2e;
  --el-menu-active-color: var(--devima-secondary-color);

  .el-card {
    background-color: #2a2a2a;
    border-color: #404040;
    box-shadow:
      0 2px 8px #1a1a1a,
      0 4px 16px #151515;
    border: 1px solid #454545;
  }

  body {
    background-color: #202020;
    color: #f5f5f5;
  }

  .footer {
    background-color: #303030;
    border-top: 0.5px solid #404040;
  }

  .footer-content {
    color: #a8a8a8;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #202020;
  }

  ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
}
